<html>

<head>
    <script type="text/javascript" src="../../js/updatepassword.js"></script>
    <title>Password Change</title>
</head>

<body>
    <h5 style="color:green;"> {{password_changed}}</h5>
    <form action="updatepassword.php" method=post onsubmit="return validation()">
        <label for="Old Password">Old Password:</label>
        <input type="password" id="OldPassword" name="OldPassword"><br><br>

        <label for="New Password">New Password:</label>
        <input type="password" id="NewPassword" name="NewPassword"><br><br>

        <label for="Confirm New Password">Confirm New Password:</label>
        <input type="password" id="ConfirmNewPassword" name="ConfirmNewPassword"><br><br>

        <input type="submit" value="Update Password">
    </form>