<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <form action = "index.php" method = "POST">
            <button type ="submit" name = "register">Signup</button>
        </form>
        <form action = "index.php" method = "POST">
            <button type ="submit" name = "login">Signin</button>
        </form>
        <form action = "index.php" method = "POST">
            <button type ="submit" name = "forget_password">Forget Password</button>
        </form>
        <form action = "author/home.php" method = "POST">
            <button type ="submit" name = "author">Author</button>
        </form>
    </body>
</html>